
*{
    margin: 0;
    padding: 0;
}
.card{
    box-sizing: border-box;
    border: 5px solid green;
    text-align: center;
    margin: 0 auto;
    max-width: 350px;
    box-shadow: 0 8px 4px 0 rgba(0,0,0,0.2);
    background-color: cadetblue;
}
h2{
    text-align: center;
}
#text{
    background-color:antiquewhite;
    text-align: right;
    height: o auto;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 320px;
    height: 80px;
    font-weight: bold;
    font-size: 60px;
    letter-spacing: 5px;
}
.btn:hover{
    background-color: aqua;
    box-shadow: 0 16px 8px 0 rgba(0,0,0,0.2)
}
.btn{
    position: static;
    background-color:brown;
    color: white;
    height: 100px;
     width: 80px;
     font-size: 40px;
    font-weight: bold;
    


}